.DS_Store
.idea/
backtracking/*.txt
__pycache__
puzzle_cross/images/cross-duboux.png
konstrukcijas/editing_distance/*.txt
poetry.lock
polyforms/tests/*.txt
polyforms/dist/
**/.ipynb_checkpoints/
source-material/
docs/polimondi
konstrukcijas/aaa
konstrukcijas/bbb
konstrukcijas/ccc

