.DS_Store
.idea/
backtracking/*.txt
__pycache__
puzzle_cross/images/cross-duboux.png
konstrukcijas/editing_distance/perfect_21.txt
konstrukcijas/editing_distance/perfect_23.txt
konstrukcijas/editing_distance/sort_file
